.followed-container {
  display: flex;
  flex-direction: column;
}

.followed-title {
  font-size: 20px;
  margin-top: 25px;
}

.followed-user-item {
  margin-top: 25px;
}

.followed-user {
  display: flex;
  align-items: center;
  margin: 10px 0;
  text-decoration: none;
  gap: 10px;
}

.followed-user:hover {
  scale: 1.02;
  transition: all 0.3s ease;
}

.followed-user-name {
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

.followed-user-followers {
  margin-left: 10px;
  color: #16e0d3;
}
