.followed-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.followed-title {
  font-size: 20px;
  margin-top: 25px;
}

.followed-list {
  overflow-y: auto;
  flex: 1 1 auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-right: 6px;
  -webkit-overflow-scrolling: touch; 
}

.followed-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-followed {
  color: lightgray;
  margin-top: 15px;
}

.followed-user {
  display: flex;
  align-items: center;
  margin: 10px 0;
  text-decoration: none;
  gap: 10px;
}

.followed-user-name {
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

.followed-user-followers {
  margin-left: 10px;
  color: #16e0d3;
}

.followed-users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  margin-top: 25px;
}

.avatar-user-followed {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.unfollow-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  position: relative;
}

.unfollow-button:hover {
  scale: 1.1;
  transition: 0.3s;
}
.unfollow-button svg {
  width: 25px;
  height: 25px;
}

.followed-actions {
  position: relative;
  margin-right: 40px;
}

.unfollow-menu {
  position: absolute;
  margin-top: 5px; /* espacio entre botón y menú */
  background: white;
  border-radius: 6px;
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 10;
  left: -70px;
  width: 120px;
}

.unfollow-menu button {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.unfollow-svg {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
